@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

html {
    font-size: 62.5%;

    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);

    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    --mainFont: 'Kumbh Sans', sans-serif;

    font-family: var(--mainFont);
}

.AddToCartButtonActive {}

body {
    width: 100%;
    height: auto;
    background-color: var(--white);
}

body.modalOpen {
    overflow: hidden;
}

body .lightbox {
    position: fixed;
    top: 0;
    z-index: 3000;
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

body .lightbox .lightbox-icon-close-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}

body .lightbox .lightbox-icon-close-wrapper .lightbox-icon-close {
    cursor: pointer;
}

body .lightbox .lightbox-mainImage-Wrapper {
    position: relative;
}

body .lightbox .lightbox-nextPrevious-buttonWrapper {
    display: block;
    position: absolute;
    width: 118%;
    padding: 0px 1.5rem;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: -9%;
}

body .lightbox .lightbox-nextPrevious-buttonWrapper button {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

body .lightbox .lightbox-mainImage {
    width: clamp(30rem, 30vw, 40rem);
    border-radius: 1rem;
}

body .lightbox .lightbox-image-navegation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.lightbox-image-navegation__buttonWrapper {
    width: clamp(6.8rem, 7.3vw, 8.3rem);
    height: clamp(6.8rem, 7.3vw, 8.3rem);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .lightbox .lightbox-image-navegation img {
    width: clamp(6.5rem, 7vw, 8rem);
    border-radius: 1rem;
    cursor: pointer;
    transition-duration: 80ms;
    transition-property: border;
    box-sizing: content-box;
}

body .lightbox .lightbox-image-navegation button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 80ms;
    transition-property: border;
    box-sizing: content-box;
    border-radius: 1.5rem;
}

body .lightbox .lightbox-image-navegation button:hover {
    border: 3px solid var(--orange);
}

body .lightbox .lightbox-image-navegation img:hover {
    opacity: 0.50;
}

.selected {
    border: 3px solid var(--orange);
}

.opacity {
    opacity: 0.50;
}

.disabled {
    display: none;
}

.screenBlur {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    height: 12rem;
    margin: 0rem 15rem;
    border-bottom: 1px solid var(--grayishBlue);
    position: fixed;
    width: calc(100% - 30rem);
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1000;
}

header nav .menu-icon {
    display: none;
}

header nav .logo {
    width: clamp(10rem, 10vw, 15rem);
    border-bottom: 4px solid transparent;
}

header nav {
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--darkGrayishBlue);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: .5rem;
    gap: 5rem;
    width: 100%;
    height: 100%;
}

header nav .menuLinks-Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    height: 100%;
}

header nav .menuLinks-Wrapper .menuLinks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    width: 100%;
    height: 100%;
}

header nav .menuLinks-Wrapper .closeButton {
    display: none;
}

header nav a {
    color: var(--darkGrayishBlue);
    text-decoration: none;
    cursor: pointer;
    height: 91%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid transparent;
}

header nav a:hover {
    border-bottom: 4px solid var(--orange);
}

header nav .user-area {
    display: flex;
    flex-direction: row;
    gap: 3.5rem;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid transparent;
}

header nav .user-area .cart {
    position: relative;
}

header nav .user-area .cart .cart-display-quantity {
    position: absolute;
    background-color: var(--orange);
    color: var(--white);
    width: 1.8rem;
    font-size: 1rem;
    border-radius: .6rem;
    top: -0.25rem;
    left: 1rem;
    visibility: hidden;
}

header nav .user-area .productsCart {
    position: absolute;
    background-color: var(--white);
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.150);
    top: 11rem;
    right: 8rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    overflow: hidden;
}

header nav .user-area .productsCart .cart-product {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1.5rem;
    visibility: hidden;
}

header nav .user-area .productsCart .cart-product .checkout-button {
    background-color: var(--orange);
    font-weight: 800;
    border-radius: .5rem;
    padding: 1.2rem 5rem;
    width: 100%;
    color: var(--white);
    cursor: pointer;
}

header nav .user-area .productsCart .cart-product .checkout-button:hover {
    filter: brightness(1.2);
}

header nav .user-area .productsCart .cart-product .cart-product-button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    gap: 1.5rem;
}

header nav .user-area .productsCart .cart-product .cart-product-button-wrapper .delete-button {
    width: 1.5rem;
    cursor: pointer;
}

header nav .user-area .productsCart .cart-product .cart-product-button-wrapper .delete-button img {
    width: 1.5rem;
}

header nav .user-area .productsCart .cart-product .cart-product-button-wrapper .cart-product-button-wrapper-img {
    width: 4rem;
    object-fit: cover;
    border-radius: .5rem;
}

header nav .user-area .productsCart .cart-product .cart-product-button-wrapper .cart-product-title {
    border: none;
    font-size: 1.3rem;
    padding: 0;
    font-weight: 500;
    color: var(--black);
}

header nav .user-area .productsCart .cart-product .cart-product-button-wrapper .cart-product-wrapper {
    display: flex;
    flex-direction: column;
    border: none;
    gap: .5rem;
}

header nav .user-area .productsCart .cart-product .cart-product-button-wrapper .cart-product-wrapper .cart-product-price-wrapper {
    display: flex;
    flex-direction: row;
    border: none !important;
    gap: .5rem;
}

header nav .user-area .productsCart .cart-product .cart-product-button-wrapper .cart-product-wrapper .cart-product-price-wrapper .cart-product-price-quantity-wrapper {
    display: flex;
    flex-direction: row;
    border: none;
}

header nav .user-area .productsCart .cart-product .cart-product-button-wrapper .cart-product-wrapper .cart-product-price-wrapper .cart-product-price-quantity-wrapper .cart-product-price {
    border: none;
    padding: 0 !important;
    font-weight: 500 !important;
    color: var(--black) !important;
    font-size: 1.3rem;
}

.cart-product-quantity {
    border: none !important;
    padding: 0 !important;
    font-weight: 500 !important;
    color: var(--black) !important;
    font-size: 1.3rem !important;
}

.cart-product-final-price {
    border: none !important;
    padding: 0 !important;
    font-size: 1.3rem !important;
}

.visible {
    visibility: visible;
    opacity: 1;
}

header nav .user-area .productsCart h3 {
    color: var(--black);
    font-size: 1.5rem;
    padding: 2rem;
    border-bottom: .1rem solid var(--grayishBlue);
    filter: brightness(1.16);
}

header nav .user-area .productsCart .cartEmptyP {
    font-weight: 800;
    visibility: hidden;
    position: absolute;
    top: 10rem;
    left: 7rem;
}

header nav .user-area button {
    background-color: transparent;
    cursor: pointer;
}

header nav .user-area button img {
    width: 2.3rem;
    transition-duration: 200ms;
    transition-property: filter;
    z-index: 1;
}

header nav .user-area button img:hover {
    filter: brightness(0);
}

.avatar-image-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.4rem;
    height: 4.4rem;
}

header nav .user-area .avatar-image {
    width: 4.1rem;
    cursor: pointer;
    border-radius: 50%;
    transition-duration: 80ms;
    transition-property: border;
    box-sizing: content-box;
}

header nav .user-area .avatar-image:hover {
    border: 3px solid var(--orange);
}

main {
    display: flex;
    flex-direction: row;
    margin: 18rem 20rem 5rem 20rem;
    gap: clamp(4.5rem, 7vw, 9rem);
    height: auto;
}

main .image-pack .nextPrevious-buttonWrapper {
    display: none;
}

main .image-pack .mainImage {
    width: clamp(30rem, 30vw, 40rem);
    border-radius: 1rem;
}

main .image-pack .image-navegation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

.image-navegation__buttonWrapper {
    width: clamp(6.8rem, 7.3vw, 8.3rem);
    height: clamp(6.8rem, 7.3vw, 8.3rem);
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .image-pack .image-navegation img {
    width: clamp(6.5rem, 7vw, 8rem);
    border-radius: 1rem;
    cursor: pointer;
    transition-duration: 80ms;
    transition-property: border;
    box-sizing: content-box;
}

main .image-pack .image-navegation button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 80ms;
    transition-property: border;
    box-sizing: content-box;
    border-radius: 1.5rem;
}

main .image-pack .image-navegation button:hover {
    border: 3px solid var(--orange);
}

main .image-pack .image-navegation img:hover {
    opacity: 0.50;
}

main .description-area {
    padding-top: clamp(3rem, 6vw, 7rem);
}

main .description-area h3 {
    color: var(--orange);
    margin-bottom: 1.5rem;
    letter-spacing: .15rem;
}

main .description-area h1 {
    font-size: clamp(2.8rem, 2.5vw, 3.5rem);
    color: var(--veryDarkBlue);
}

main .description-area .description {
    font-size: 1.5rem;
    color: var(--darkGrayishBlue);
    margin-top: 3rem;
}

main .description-area .pricePercentage {
    display: flex;
    flex-direction: row;
    margin-top: 1.8rem;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
}

main .description-area .pricePercentage .price {
    font-size: 2.7rem;
    font-weight: 800;
    color: var(--veryDarkBlue);
}

main .description-area .pricePercentage .percentage {
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 500;
    padding: .4rem .8rem;
    border-radius: .5rem;
}

main .description-area .past-price {
    font-size: 1.5rem;
    font-weight: 800;
    text-decoration: line-through;
    color: var(--darkGrayishBlue);
    margin-top: 1rem;
}

main .description-area .quantityButton {
    display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
    gap: 1.5rem;
}

main .description-area .quantityButton .quantityWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--lightGrayishBlue);
    padding: 1.5rem;
    gap: 4rem;
    border-radius: .5rem;
}

main .description-area .quantityButton .quantityWrapper button {
    background-color: var(--lightGrayishBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

main .description-area .quantityButton .quantityWrapper button img {
    width: 1.2rem;
}

main .description-area .quantityButton .quantityWrapper button img:hover {
    filter: brightness(1.4);
}

main .description-area .quantityButton .quantityWrapper .quantity {
    font-size: 1.4rem;
    font-weight: 800;
    width: 1.5rem;
    text-align: center;
}

main .description-area .quantityButton .cartButton img {
    width: 1.5rem;
}

main .description-area .quantityButton .cartButton {
    background-color: var(--orange);
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 6.5rem;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0px 0px 15px 3px hsla(26, 100%, 55%, 0.401);
    transition-duration: 200ms;
    transition-property: filter;
}

main .description-area .quantityButton .cartButton:hover {
    filter: brightness(1.15);
}

footer {
    font-size: 11px;
    text-align: center;
    padding: 1rem 0;
}

footer a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1024px) {

    header {
        height: clamp(7rem, 10vw, 10rem);
        margin: 0;
        padding: 0;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed !important;
        z-index: 1000;
    }

    header nav {
        gap: 2.5rem;
        width: 100%;
        margin: 0px clamp(2rem, 4vw, 5rem);
    }

    header nav .menu-icon {
        border-top: .4rem solid transparent;
        gap: .4rem;
        width: 4rem;
        height: 3rem;
        display: flex;
        flex-direction: column;
        cursor: pointer;
    }

    header nav .menu-icon span {
        display: block;
        height: 4px;
        width: 2.9rem;
        background-color: var(--darkGrayishBlue);
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    header nav .logo {
        width: clamp(13rem, 15vw, 20rem);
    }

    header nav .menuLinks-Wrapper .closeButton {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    header nav .menuLinks-Wrapper .closeButton button {
        background-color: transparent;
        cursor: pointer;
    }

    header nav .menuLinks-Wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 50%;
        background-color: var(--white);
        left: 0;
        top: 0;
        height: 100vh;
        margin: 0;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.5rem;
        padding: 3rem;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    header nav .menuLinks-Wrapper.open {
        transform: translateX(0);
    }

    header nav .menuLinks-Wrapper .menuLinks {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--white);
        height: 50%;
        font-weight: 800;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 2.5rem;
    }

    header nav .menuLinks-Wrapper a {
        color: var(--black);
        height: auto;
    }

    header nav .user-area {
        gap: clamp(2.4rem, 4vw, 3.5rem);
    }

    .avatar-image-container {
        width: clamp(3.8rem, 4.8vw, 4.4rem);
        height: clamp(3.8rem, 4.8vw, 4.4rem);
    }

    header nav .user-area .avatar-image {
        width: clamp(3.5rem, 4.5vw, 4.1rem);
    }

    main {
        flex-direction: column;
        margin: clamp(7rem, 10vw, 10rem) 0rem 0rem 0rem;
        gap: 0rem;
    }

    main .image-pack {
        width: 100%;
        height: auto;
    }

    main .image-pack .mainImage-Wrapper {
        position: relative;
    }

    main .image-pack .nextPrevious-buttonWrapper {
        display: block;
        position: absolute;
        width: 100%;
        padding: 0px 1.5rem;
        display: flex;
        justify-content: space-between;
        top: 50%;

    }

    main .image-pack .nextPrevious-buttonWrapper button {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    main .image-pack .mainImage {
        width: max(100%, 10rem);
        height: auto;
        object-fit: cover;
        border-radius: 0rem;
    }

    main .image-pack .image-navegation {
        display: none;
    }

    main .description-area {
        padding: clamp(2rem, 4vw, 5rem) 3rem;
    }

    main .description-area .pricePercentage-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    main .description-area .quantityButton {
        flex-direction: column;
    }

    main .description-area .quantityButton .quantityWrapper {
        justify-content: space-between;
    }

    main .description-area .quantityButton .cartButton {
        padding: 2rem 6.5rem;
    }
}